2026-02-09 00:32:02,696 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-08T16:30', 'temperature_c': 9.0, 'windspeed_kmh': 15.1, 'winddirection_deg': 65, 'is_day': 0, 'created_at': '2026-02-08T16:32:02.691072'}
2026-02-13 00:00:06,452 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-13 00:00:07,590 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-12T16:00', 'temperature_c': 15.7, 'windspeed_kmh': 4.7, 'winddirection_deg': 94, 'is_day': 0, 'created_at': '2026-02-12T16:00:07.563034'}
2026-02-13 10:30:07,336 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T02:30', 'temperature_c': 22.3, 'windspeed_kmh': 4.7, 'winddirection_deg': 356, 'is_day': 1, 'created_at': '2026-02-13T02:30:07.292249'}
2026-02-13 10:32:02,124 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T02:30', 'temperature_c': 22.3, 'windspeed_kmh': 4.7, 'winddirection_deg': 356, 'is_day': 1, 'created_at': '2026-02-13T02:32:02.115565'}
2026-02-13 11:00:06,375 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-13 11:00:09,040 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T03:00', 'temperature_c': 23.1, 'windspeed_kmh': 4.8, 'winddirection_deg': 347, 'is_day': 1, 'created_at': '2026-02-13T03:00:09.029717'}
2026-02-13 11:29:59,887 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T03:15', 'temperature_c': 23.4, 'windspeed_kmh': 5.7, 'winddirection_deg': 342, 'is_day': 1, 'created_at': '2026-02-13T03:29:59.877524'}
2026-02-13 11:30:05,961 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T03:30', 'temperature_c': 23.8, 'windspeed_kmh': 6.8, 'winddirection_deg': 335, 'is_day': 1, 'created_at': '2026-02-13T03:30:05.951881'}
2026-02-13 12:00:06,117 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-13 12:00:06,718 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T04:00', 'temperature_c': 24.5, 'windspeed_kmh': 9.2, 'winddirection_deg': 321, 'is_day': 1, 'created_at': '2026-02-13T04:00:06.708610'}
2026-02-13 12:30:02,074 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 13:00:01,227 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 13:00:01,227 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 13:30:07,165 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T05:30', 'temperature_c': 23.8, 'windspeed_kmh': 11.2, 'winddirection_deg': 318, 'is_day': 1, 'created_at': '2026-02-13T05:30:07.159700'}
2026-02-13 14:00:08,882 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T06:00', 'temperature_c': 23.5, 'windspeed_kmh': 10.9, 'winddirection_deg': 316, 'is_day': 1, 'created_at': '2026-02-13T06:00:08.870660'}
2026-02-13 14:00:14,123 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Read timed out. (read timeout=10)
2026-02-13 14:30:06,332 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T06:30', 'temperature_c': 23.2, 'windspeed_kmh': 9.7, 'winddirection_deg': 315, 'is_day': 1, 'created_at': '2026-02-13T06:30:06.324238'}
2026-02-13 15:00:10,056 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T07:00', 'temperature_c': 23.0, 'windspeed_kmh': 8.4, 'winddirection_deg': 313, 'is_day': 1, 'created_at': '2026-02-13T07:00:10.047783'}
2026-02-13 15:00:13,317 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Read timed out. (read timeout=10)
2026-02-13 15:30:07,216 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T07:30', 'temperature_c': 22.7, 'windspeed_kmh': 7.1, 'winddirection_deg': 315, 'is_day': 1, 'created_at': '2026-02-13T07:30:07.209072'}
2026-02-13 16:00:06,620 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T08:00', 'temperature_c': 22.5, 'windspeed_kmh': 6.4, 'winddirection_deg': 317, 'is_day': 1, 'created_at': '2026-02-13T08:00:06.613207'}
2026-02-13 16:00:09,048 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T08:00', 'temperature_c': 22.5, 'windspeed_kmh': 6.4, 'winddirection_deg': 317, 'is_day': 1, 'created_at': '2026-02-13T08:00:09.040382'}
2026-02-13 16:30:06,343 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T08:30', 'temperature_c': 22.0, 'windspeed_kmh': 5.2, 'winddirection_deg': 326, 'is_day': 1, 'created_at': '2026-02-13T08:30:06.338490'}
2026-02-13 17:00:07,044 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T09:00', 'temperature_c': 21.6, 'windspeed_kmh': 4.3, 'winddirection_deg': 336, 'is_day': 1, 'created_at': '2026-02-13T09:00:07.036025'}
2026-02-13 17:00:09,352 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T09:00', 'temperature_c': 21.6, 'windspeed_kmh': 4.3, 'winddirection_deg': 336, 'is_day': 1, 'created_at': '2026-02-13T09:00:09.347102'}
2026-02-13 17:30:08,582 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T09:30', 'temperature_c': 20.7, 'windspeed_kmh': 3.9, 'winddirection_deg': 326, 'is_day': 1, 'created_at': '2026-02-13T09:30:08.575608'}
2026-02-13 18:00:11,626 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 18:00:11,626 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 18:30:01,798 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 19:00:01,946 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 19:00:01,947 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 19:30:07,522 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T11:30', 'temperature_c': 18.2, 'windspeed_kmh': 1.8, 'winddirection_deg': 259, 'is_day': 0, 'created_at': '2026-02-13T11:30:07.515578'}
2026-02-13 20:00:06,986 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T12:00', 'temperature_c': 17.8, 'windspeed_kmh': 1.5, 'winddirection_deg': 225, 'is_day': 0, 'created_at': '2026-02-13T12:00:06.981136'}
2026-02-13 20:00:09,444 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T12:00', 'temperature_c': 17.8, 'windspeed_kmh': 1.5, 'winddirection_deg': 225, 'is_day': 0, 'created_at': '2026-02-13T12:00:09.438698'}
2026-02-13 20:30:07,333 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T12:30', 'temperature_c': 17.3, 'windspeed_kmh': 2.2, 'winddirection_deg': 189, 'is_day': 0, 'created_at': '2026-02-13T12:30:07.322744'}
2026-02-13 21:00:07,204 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-13 21:00:08,885 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T13:00', 'temperature_c': 17.0, 'windspeed_kmh': 2.9, 'winddirection_deg': 173, 'is_day': 0, 'created_at': '2026-02-13T13:00:08.878631'}
2026-02-13 21:30:01,422 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 22:00:01,581 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 22:00:01,582 - ERROR - ERROR: HTTPSConnectionPool(host='api.open-meteo.com', port=443): Max retries exceeded with url: /v1/forecast?latitude=25.03&longitude=121.56&current_weather=true (Caused by NameResolutionError("HTTPSConnection(host='api.open-meteo.com', port=443): Failed to resolve 'api.open-meteo.com' ([Errno -3] Temporary failure in name resolution)"))
2026-02-13 22:30:06,338 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T14:30', 'temperature_c': 16.0, 'windspeed_kmh': 3.3, 'winddirection_deg': 167, 'is_day': 0, 'created_at': '2026-02-13T14:30:06.333654'}
2026-02-13 23:00:07,429 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T15:00', 'temperature_c': 15.8, 'windspeed_kmh': 3.6, 'winddirection_deg': 174, 'is_day': 0, 'created_at': '2026-02-13T15:00:07.420719'}
2026-02-13 23:00:09,992 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T15:00', 'temperature_c': 15.8, 'windspeed_kmh': 3.6, 'winddirection_deg': 174, 'is_day': 0, 'created_at': '2026-02-13T15:00:09.986488'}
2026-02-13 23:30:07,039 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T15:30', 'temperature_c': 15.3, 'windspeed_kmh': 3.6, 'winddirection_deg': 186, 'is_day': 0, 'created_at': '2026-02-13T15:30:07.031120'}
2026-02-14 00:00:05,699 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-14 00:00:07,613 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-13T16:00', 'temperature_c': 15.0, 'windspeed_kmh': 4.1, 'winddirection_deg': 195, 'is_day': 0, 'created_at': '2026-02-13T16:00:07.604709'}
2026-02-15 23:00:05,270 - ERROR - ERROR: 504 Server Error: Gateway Time-out for url: https://api.open-meteo.com/v1/forecast?latitude=25.03&longitude=121.56&current_weather=true
2026-02-15 23:00:07,290 - INFO - SUCCESS: Saved record {'timestamp': '2026-02-15T15:00', 'temperature_c': 20.1, 'windspeed_kmh': 1.1, 'winddirection_deg': 180, 'is_day': 0, 'created_at': '2026-02-15T15:00:07.283286'}
